[build]
    command = "hugo"
    publish = "public"

[build.environment]
    HUGO_VERSION = "0.88.1"
    HUGO_ENABLEGITINFO = "true"

[context.production.environment]
    HUGO_ENV = "production"

[context.deploy-preview]
    command = "hugo --buildFuture -b $DEPLOY_PRIME_URL"
