@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Sarala');


body {
   font-family: "Open Sans", sans-serif;
}

body:before {
   content: "";
   position: fixed;
   top: -5%;
   left: -5%;
   right: -5%;
   bottom: -15%;
   z-index: -2;

   display: block;
   filter: blur(0px) brightness(1.0) hue-rotate(0deg) opacity(1);
   background-image: url("/images/stock-photo-sea-stones-background-115218976.jpg");
   background-size: cover;
   width: 110%;
   height: 120%
}

h1,h2,h3,h4 {
   font-family: "Sarala", sans-serif;
   color: #1297a0;
}

.section {
   padding: 3vh 4vw;
   margin: 0 0;
   min-height: 20vh;
   background-color: rgba(255, 255, 255, 0.85);
   border-radius: 0.3em;
   backdrop-filter: blur(10px);
}

.content-area {
   position: fixed;
   top: 5vh;
   left: 4vw;
   width: 92vw;
   height: 88vh;
   margin: 0;
   padding: 0 0;
}

.home .backdrop {
   display: none
}

.content {
   position: relative;
   height: 100%;
   margin: 0 auto;
   max-width: 50em;
   overflow-y: scroll;
   padding: 6vh 5vw 3vh;
   box-sizing: border-box;
   background-color: rgba(255, 255, 255, 0.80);
   border-radius: 0.3em;
   backdrop-filter: blur(10px);
}

.home .content {
   padding: 0 0;
   background: none;
   backdrop-filter: none;
   width: 100vw;
   max-width: none;
}

.content::-webkit-scrollbar {
   display: none;
}

.content {
   -ms-overflow-style: none;
   scrollbar-width: none
}

a {
   color: #ecb06e;
   text-decoration: none;
}

a:hover {
   color: #ecb06e;
}

a:visited {
   color: #ecb06e;
}

.bottom-bar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 5ch;
   background-color: #262E3D;
   color: white;
   z-index: 10;
}

.huge {
   font-size: 200%
}

.large {
   font-size: 150%
}

.read-more {
   text-decoration: underline;
   display: block;
   padding-top: 0.2em;
}

.section h1 {
   font-size: 200%;
   font-family: "Sarala", sans-serif;
   color: #1297a0;
}

.content h1 {
   max-width: 35vw;
}

.badgeGenrUNK {
   display: inline-block;
}

.blog .content img:first-of-type {
   max-width: 100%;
   height: auto;
   max-height: 65vh;
}

.spacer {
   padding: 0;
   margin: 0;
}

.fitpic {
   object-fit: cover;
   object-position: 55% 0;
   width: 100%;
   height: 100%;
}

#logo {
   position: fixed;
   left: 50%;
   top: 6vh;
   z-index: 5;
   cursor: pointer;
   width: 10vh;
   height: 10vh;
   transform: translate(-50%,-50%)
}

@media (max-width: 991px) {
   .section {
      margin-bottom: 2vh;
   }

   .section:last-of-type {
      margin-bottom: 0
   }
}

@media (max-width: 600px) {
   .email a, .phone a {
      font-size: 0;
   }

   .email a:after{
      content: 'Email Me';
      font-size: initial;
   }

   .phone a:after{
      content: 'Phone Me';
      font-size: initial;
   }
}

@media (min-width: 992px) {

   .section {
      position: fixed;
      width: 44vw;
      height: 42vh;
      margin: 0;
      padding: 4vh 3vw;
      box-sizing: border-box;
   }

   .section.top {
      top: 7vh;
   }

   .section.left {
      left: 5vw;
   }

   .section.bottom {
      bottom: 7vh;
   }

   .section.right {
      right: 5vw;
   }

   .home #logo {
      top: 50%;
      min-width: 15vmin;
      min-height: 15vmin;
   }
}

.bottom-bar div {
   font-size: large;
   padding: 0.5em 1em;
}

.bottom-bar a {
   color: white;
}

.email {
   float: left;
}

.phone {
   float: right;
}


nav {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   padding: 0;
   margin: 0;
}

nav input[type="checkbox"] {
   display: none;
}

nav label {
   display: block;
   right: 1em;
   top: 1em;
   width: 40px;
   height: 40px;
   cursor: pointer;
   position: fixed;
   z-index: 10;
}

nav ul {
   position: absolute;
   top: 0;
   left: 100vw;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 5em;
   background-color: #262E3D;
   transition: transform 1s;
}

nav ul li {
   display: block;
   position: relative;
   width: 100%;
   line-height: 13vh;
   font-size: 7vh;
}

nav ul li:hover {
   cursor: pointer;
}

nav ul li:hover > a {
   color: #777;
}

nav > ul > li > a {
   cursor: pointer;
   outline: none;
   width: 100%;
   text-decoration: none;
}

nav [type="checkbox"]:not(:checked) + label:after {
   content: '';
   display: block;
   width: 32px;
   height: 5px;
   background: #262E3D;
   margin: 7px 5px;
   box-shadow: 0px 10px 0px #262E3D, 0px 20px 0px #262E3D
}

nav [type="checkbox"]:checked + label:before, nav [type="checkbox"]:checked + label:after {
   content: '';
   position: absolute;
   width: 100%;
   top: 50%;
   left: 0;
   height: 8px;
   margin-top: -4px;
   background: white;
}


nav [type="checkbox"]:checked + label:before {
   transform: rotate(45deg);
}

nav [type="checkbox"]:checked + label:after {
   transform: rotate(-45deg);
}

nav [type="checkbox"]:checked ~ ul {
   transform: translateX(-100vw);
}


nav [type="checkbox"]:checked ~ ul {
   pointer-events:auto;
}

nav [type="checkbox"]:not(:checked) ~ ul {
   pointer-events:none;
}
