@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito');

html body {
   font-family: "Open Sans", sans-serif;
   position: relative;
}

body {
   padding-left: 3em !important;
   padding-right: 3em !important;
}

h1,h2,h3,h4 {
   font-family: "Nunito", serif;
   color: #f57d2c;
}

a {
   color: #c74800;
}

a:hover {
   color: #f57d2c;
}

.bottom-bar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 4ch;
   background-color: #1B223F;
   color: white;
   text-align: center;
}

nav,.navbar-nav {
   background-color: white;
}

nav .nav-link {
   color: #c74800 !important
}

.navbar-nav .nav-link:hover {
   color: #c74800 !important;
}

.drop-caps::first-letter {
   font-size: 2ch;
   font-weight: bolder;
   float: left;
}

.navbar, .spacer {
   min-height: 7ch;
}

.navbar {
   margin: 0;
   padding: 0;
}

section {
   width: 100vw;
}

.content {
   padding: 2ch 7.5vw;
   margin: 0;
}

.solid-background {
   background-color: rgba(27, 34, 63, 0.9);
   color: white;
}

.pattern-background {
   background-image: url("/uploads/animal_skin.jpg");
   background-repeat: repeat;
   background-size: 50%;
}

.pattern-strip {
   margin-top: 2em;
   background-image: url("/uploads/skinpatternhorizontal.jpg");
   background-repeat: repeat-x;
   background-position: center;
   background-size: 8em;
   height: 8em;
}

.huge {
   font-size: 200%
}

.large {
   font-size: 150%
}

.bottom-bar .left {
   float: left;
   padding-left: 1em;
}

.bottom-bar .right {
   float: right;
   padding-right: 1em;
}

.read-more {
   text-decoration: underline;
   display: block;
   padding-top: 0.2em;
}

.section-title {
   font-size: xx-large;
   font-family: "Open Sans", sans-serif;
   padding-bottom: 0.5em;
}

.badgeGenrUNK {
   display: inline-block;
}

.map {
   border:0;
   width: 100%;
   height: 30vh;
   margin-top: 1em;
   margin-bottom: 2em;
}

blockquote {
   background: #f9f9f9;
   border-left: 10px solid #ccc;
   margin: 1.5em 10px;
   padding: 0.5em 10px;
   quotes: none
}

blockquote p {
   display: inline;
}


.services-list {
   margin-bottom: 3ch
}

.services-list a {
   padding-left: 2em;
   color: black
}

.dropdown-menu {
   background-color: white;
}

.dropdown-menu .dropdown-item a:hover {
   color: black !important;
}

.blog .content img:first-of-type {
   max-width: 100%;
   height: auto;
   max-height: 65vh;
}

.spacer {
   padding: 0;
   margin: 0;
}

.title-white {
   color: white
}

.title-orange {
   color: #f57d2c;
}

.title-tiny {
   font-size: 100%;
}

.title-small {
   font-size: 125%;
}

.title-medium {
   font-size: 175%;
}

.title-large {
   font-size: 300%;
}

.title-background * {
   font-family: "Nunito", sans-serif;
}

.fitpic {
   object-fit: cover;
   object-position: 55% 0;
   width: 100%;
   height: 100%;
}

