@import url('https://fonts.googleapis.com/css?family=Halant');

html body {
   font-family: "Halant", serif;
   font-size: 14pt;
   position: relative;
}

.bottom-bar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 4ch;
   background-color: black;
   color: white;
   text-align: center;
}

nav {
   background-color: black;
}

.navbar-brand {
   padding-left: 0.5em;
}

.drop-caps::first-letter {
   font-size: 2ch;
   font-weight: bolder;
   float: left;
}

.navbar {
   margin: 0;
   padding: 0;
}

.navbar-brand {
   font-size: large;
}

section {
/*   min-height: calc(100% - 0); */
   width: 100vw;
   margin: 0;
   padding: 0;
}

.content {
   padding: 7ch 3ch 3ch;
   margin: 0;
}

.service-summary {
   padding: 2ch;
}

.service-title {
   font-size: x-large;
}

.light-background {
   background-color: #B5C0B0;
}

.dark-background {
   background-color: #4B4A36;
}

.huge {
   font-size: 200%
}

.large {
   font-size: 150%
}

@media (orientation: portrait) {
   .portrait{
      width: 100%;
   }
   .landscape-only {
      display: none
   }
}

@media (orientation: landscape) {
   .portrait-only {
      display: none
   }
}


.bottom-bar .left {
   float: left;
   padding-left: 1em;
}

.bottom-bar .right {
   float: right;
   padding-right: 1em;
}
