{{ define "main" }}

{{ $thisBlog := .UniqueID }}

<div class="content">

   <h1>{{ .Title }}</h1>

   <div>
       <h2>{{ .Params.subtitle }}</h2>
   </div>

   <div>
      {{ .Content }}
   </div>

</div>


<div class="content others">

   <h3>Other Recent Posts</h3>

   <ul>
   {{ range first 5 (where (where .Site.RegularPages "Section" "==" "blog") "UniqueID" "ne" $thisBlog).ByDate.Reverse }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a> {{ dateFormat "2 January 2006" .PublishDate }}</li>
   {{end}}
   </ul>

   <div class="read-more">
      <a href="/blog/">All Blogs</a>
   </div>

</div>

{{ end }}
