{{ define "main" }}

{{ $thisBlog := .UniqueID }}

<div class="articles">

   <h1>{{ .Title }}</h1>

   <div>
      {{ .Content }}
   </div>

</div>


<div class="sidebar">

   <h3>Other Recent Posts</h3>

   <ul>
   {{ range first 5 (where (where .Site.RegularPages "Section" "==" "blog") "UniqueID" "ne" $thisBlog).ByDate.Reverse }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
   {{end}}
   </ul>

   <!--
   <h2>Tags</h2>
   <ul>
   {{ range (.GetTerms "tags") }}
   <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
   {{ end }}
   </ul>
   -->

</div>

{{ end }}
