{{ define "main" }}

{{ $thisBlog := .UniqueID }}

<div class="content blog-article">

   <h1>{{ .Title }}</h1>

   <div>
       <h2>{{ .Params.subtitle }}</h2>
   </div>

   <div>
      {{ .Content }}
   </div>

</div>


<div class="content sections rtl">

   {{ $sections := .Site.GetPage "/section" }}
   {{ $matching := $sections.Resources.Match "signup*" }}

   {{ range $matching }}
      <div class="section">
         {{ .Content }}
      </div>
   {{ end }}

   <div class="section">
      <h3>Other Recent Posts</h3>

      <ul>
         {{ range first 5 (where (where .Site.RegularPages "Section" "==" "blog") "UniqueID" "ne" $thisBlog).ByDate.Reverse }}
         <li><a href="{{ .Permalink }}">{{ .Title }}</a> {{ dateFormat "2 January 2006" .PublishDate }}</li>
         {{end}}
      </ul>

      <div class="read-more">
         <a href="/blog/">All Blogs</a>
      </div>

   </div>

</div>

{{ end }}
