@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Sarala');


body {
   font-family: "Open Sans", sans-serif;
}

img {
   max-width: 100%;
}

body:before {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -2;
   display: block;
   background-image: url("//d1nq4hyj0msl77.cloudfront.net/background_new.jpg");
   background-size: 100vw 100vh;
   overflow: hidden;
}

a, a:link, a:visited {
    text-decoration: none;
    color: rgb(231, 96, 66);
}

a:hover {
    filter: brightness(70%);
}

h1,h2,h3,h4,h5,h6 {
   font-family: "Sarala", sans-serif;
   margin: 0;
   padding: 0;
   padding-bottom: 0.5vh;
   font-weight: normal;
}

a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

h1 {
    color: rgb(231,53,118);
}

h1,h2,h3,h4 {
    text-align: center;
}

h1 a, h2 a, h3 a, h4 a {
    color: inherit;
}

.section h1, .section h2, .section h3, .section h4 {
    text-align: left;
}

li h1, li h2, li h3, li h4 {
    text-align: left;
}

h2, h3 {
    color: rgb(229,79,120) ;
}

.sectionlink {
   margin: 1em 0;
   font-size: 125%;
   display: block;
}

.sectionlink a {
    margin-right: 2ch;
}

.content-area {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 95vh;
   box-sizing: border-box;
   margin: 7vh 0 0 0;
   padding: 0 5vw 7vh 5vw;
   overflow-y: scroll;
}

.content {
   margin: 0 auto;
   max-width: 60em;
   box-sizing: border-box;
   background-color: rgba(255, 255, 255, 0.90);
   border-radius: 0.5em;
   backdrop-filter: blur(10px) contrast(0.8);
   padding: 2em 5vw;
   margin-bottom: 3ch;
}

.content:first-of-type {
   padding-top: 5em !important;
}

.content:last-of-type {
    margin-bottom: 0
}

.footer {
   background-color: #262E3D;
    position: relative;
}

.footer .links {
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer .links a:nth-of-type(n+2) {
   padding-left: 2em;
}

.bottom-bar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 5ch;
   background-color: #555555;
   color: white;
   z-index: 10;
}

a.read-more {
   display: inline-block;
   padding-top: 0.75em;
   margin-right: 3ch;
   text-decoration: underline;
   color: rgb(231, 96, 66);
}

.blog .content img {
    max-width: 100%;
    height: auto;
    max-height: 65vh;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.blog .blog-article h1, .blog .blog-article h2 {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.blog-summary-text {
    max-height: 40ch;
    overflow: hidden;
}

#logo {
   position: fixed;
   left: 50%;
   top: 8px;
   z-index: 5;
   cursor: pointer;
   width: 10vh;
   height: 10vh;
   transform: translate(-50%,0);
   transition-timing-function: ease-in;
   transition: width 1s, height 1s
}

body.header-not-at-top #logo {
    width: 6vh;
    height: 6vh;
    transition-timing-function: ease-out;
    transition: width 1s, height 1s
}

@media (min-width: 800px) {

   .aboutbar {
      display: flex;
      flex-direction: row;
      padding: 2em;
      padding-bottom: 0;
      border-bottom: 1px solid gray;
      border-radius: 0.5em;
      margin-bottom: 2em;
   }

   .aboutbar .header h1 {
      font-size: 3.25vw;
   }

   .aboutbar .header h2 {
      font-size: 150%;
      padding-left: 1em;
      padding-right: 1em;
   }

   .aboutbar .header {
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }

   .aboutbar .photobox {
      margin-top: auto;
      flex: 1;
   }
}

img.photo {
    display: block;
    max-width: 25vw;
    max-height: 25vh;
    width: auto;
    height: auto;
}

@media (max-width: 600px) {
   .email a, .phone a {
      font-size: 0;
   }

   .email a:after{
      content: 'Email Me';
      font-size: initial;
   }

   .phone a:after{
      content: 'Phone Me';
      font-size: initial;
   }
}

.bottom-bar div {
   font-size: large;
   padding: 0.5em 1em;
}

.bottom-bar a {
   color: white;
}

.email {
   float: left;
}

.phone {
   float: right;
}

.bottom-bar .copyright {
   float: right;
}

article {
    margin-bottom: 3vh;
}

article:first-of-type {
    padding-top: 2ch
}

article:last-of-type {
    margin-bottom: 0
}

.content.aboutme {
   padding-bottom: 0
}

.blockquote {
   padding: 0;
   margin: 0;
   margin-bottom: 1em;
}

.blockquote .quoted {
}

.blockquote .testimonial {
   padding: 0.2em 2vw;
   background: #eee;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container::after {
   padding-top: 56.25%;
   display: block;
   content: '';
}

.video-container {
   position: relative;
   overflow: hidden;
   max-width: 600px;
   aspect-ratio: 16/9;
   width: 100%;
   left: 50%;
   transform: translate(-50%, 0%);
}

.blockquote .quoteblock {
   font-size: 300%;
   padding: 0;
   margin: 0;
   height: 0.5em;
}

.blockquote .quoteleft {
   vertical-align: sub;
}

.blockquote .quoteright {
   text-align: right;
   line-height: 50%;
   vertical-align: super;
}

.blockquote .author {
   text-align: right;
   padding-right: 0.5em;
}

@media (min-width: 800px) {

    .image-strip {
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
        padding: 0;
        margin: 0;
        padding-top: 2vh;
        padding-bottom: 2vh;
        gap: 1em;
    }

    .image-strip img {
      max-width: 10em;
    }

    .content.aboutme .photobox {
        float: right;
    }
}

@media (max-width: 799px) {
    .image-strip img {
        margin-left: auto;
        margin-right: auto;
    }
}

table, th, td {
   border: 1px black solid;
   border-collapse: collapse;
   margin-bottom: 1.5em;
}

th, td {
   border: 1px black solid;
   border-collapse: collapse;
   padding: 0.5em;
}

table tr th:empty {
   display: none;
}

ol {
   counter-reset: item;
}

ol > li {
   counter-increment: item;
}

ol ol > li {
   list-style-type: none;
}

ol ol > li:before {
   content: counters(item, ".") " ";
   margin-left: -2.5em;
   padding-right: 1em;
}

.section header h3,h4,h5 {
   padding: 0;
   margin: 0.5em;
   font-family: "Palatino Linotype",Palatino,sans-serif;
   color: rgb(229,79,120);
   font-weight: bolder !important;
}

a.cta {
   display: block;
   font-size: large;
   color: white;
   background-color: rgb(79,129,219);
   padding: 0.5em;
   margin: 0.1em;
   width: 75%;
   max-width: 20em;
   text-align: center;
   margin-top: 1em;
}

a.cta:hover {
    color: lightblue;
    filter: none;
}

.sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr) [row-end]);
    grid-gap: 0.5em;
    grid-auto-flow: row dense;
    width: 100%;
}

.sections.rtl {
    direction: rtl
}

.sections.rtl > .section {
    direction: ltr;
}

.sections > .section {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 0;
}

.sections > .section > ul {
    flex-grow: 1;
    padding: 0.25em;
    margin: 0;
}

.sections .cta {
    align-self: end;
}

@media (min-width: 50em) {
    .social {
        position: absolute;
        top: 1em;
        right: 2em;
    }
}

@media (max-width: 50em) {
    .social {
        padding-top: 1em;
        position: relative;
        left: 50%;
        width: fit-content;
        transform: translate(-50%, 0%);
    }
}


.social-icon {
    width: 2em;
    height: 2em;
    padding: 0.25em;
}

.standout {
    font-size: 120%;
    color: rgb(231,53,118);
    width: 80%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 1em;
}

.inverted {
    background-color: #e56a78;
    color: white
}

div.inverted h2 {
    color: white;
}

body.workwithme div.content:not(.content ~ .content) {
    padding-top: 2em;
}

