@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Sarala');


body {
   font-family: "Open Sans", sans-serif;
}

body:before {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -2;
   display: block;
   background-image: url("//d1nq4hyj0msl77.cloudfront.net/background_large.jpg");
   background-size: cover;
}

@media (max-width: 991px) {
   body:before {
      background-image: url("//d1nq4hyj0msl77.cloudfront.net/background_medium.jpg");
   }
}

a {
    text-decoration: none;
}

a:link {
    color: #ed8c21;
}

a:hover {
    color: #cf832f !important;
}

a:visited {
    color: #ed8c21;
}

h1,h2,h3,h4 {
   font-family: "Sarala", sans-serif;
   margin: 0;
   padding: 0;
   padding-bottom: 0.5vh;
}

h1, h1 a {
   color: #27506a !important;
}

h1 a:hover {
    color: #173a51 !important;
}

h2, h3, h2 a, h3 a {
   color: #13859a !important;
}

h2 a:hover, h3 a:hover {
    color: #156e7e !important;
}

.sectionlink {
   margin: 1em 0;
   font-size: 125%;
   display: block;
}

.sectionlink a {
    margin-right: 2ch;
}

.content-area {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 95vh;
   box-sizing: border-box;
   padding: 7vh 5vw 7vh 5vw;
   overflow-y: scroll;
   clip: rect(7vh 95vw 93vh 5vw);
}

.content {
   margin: 0 auto;
   max-width: 60em;
   box-sizing: border-box;
   background-color: rgba(255, 255, 255, 0.90);
   border-radius: 0.5em;
   backdrop-filter: blur(10px) contrast(0.8);
   padding: 2em 5vw;
   margin-bottom: 3ch;
}

.content:first-of-type {
   padding-top: 5em !important;
}

.content:last-of-type {
    margin-bottom: 0
}

.bottom-bar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 5ch;
   background-color: #262E3D;
   color: white;
   z-index: 10;
}

.read-more {
   text-decoration: underline;
    color: inherit;
   display: block;
   padding-top: 0.75em;
}

.read-more a {
    margin-right: 3ch;
}

.blog .content img:first-of-type {
   max-width: 100%;
   height: auto;
   max-height: 65vh;
}

.blog-summary-text {
    max-height: 40ch;
    overflow: hidden;
}

#logo {
   position: fixed;
   left: 50%;
   top: 0;
   z-index: 5;
   cursor: pointer;
   width: 8em;
   height: 8em;
   transform: translate(-48%,0)
}

@media (min-width: 800px) {

   .aboutbar {
      display: flex;
      flex-direction: row;
      padding: 2em;
      padding-bottom: 0;
      border-bottom: 1px solid gray;
      border-radius: 0.5em;
   }

   .aboutbar .header h1 {
      font-size: 3.25vw;
   }

   .aboutbar .header h2 {
      font-size: 150%;
      padding-left: 1em;
      padding-right: 1em;
   }

   .aboutbar .header {
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }

   .aboutbar .photobox {
      margin-top: auto;
      flex: 1;
   }
}

img.photo {
    display: block;
    max-width: 25vw;
    max-height: 25vh;
    width: auto;
    height: auto;
}

@media (max-width: 600px) {
   .email a, .phone a {
      font-size: 0;
   }

   .email a:after{
      content: 'Email Me';
      font-size: initial;
   }

   .phone a:after{
      content: 'Phone Me';
      font-size: initial;
   }
}

.bottom-bar div {
   font-size: large;
   padding: 0.5em 1em;
}

.bottom-bar a {
   color: white;
}

.email {
   float: left;
}

.phone {
   float: right;
}

article {
    margin-bottom: 3vh;
}

article:first-of-type {
    padding-top: 2ch
}

article:last-of-type {
    margin-bottom: 0
}

.content.aboutme {
   padding-bottom: 0
}

.blockquote {
   padding: 0;
   margin: 0;
   margin-bottom: 1em;
}

.blockquote .quoted {
}

.blockquote .testimonial {
   padding: 0.2em 2vw;
   background: #eee;
}

.blockquote .quoteblock {
   font-size: 300%;
   padding: 0;
   margin: 0;
   height: 0.5em;
}

.blockquote .quoteleft {
   vertical-align: sub;
}

.blockquote .quoteright {
   text-align: right;
   line-height: 50%;
   vertical-align: super;
}

.blockquote .author {
   text-align: right;
   padding-right: 0.5em;
}
