nav {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   padding: 0;
   margin: 0;
}

nav input[type="checkbox"] {
   display: none;
}

nav label {
   display: block;
   right: 3em;
   top: 1em;
   width: 42px;
   height: 42px;
   cursor: pointer;
   position: fixed;
   z-index: 10;
   padding: 0;
}

nav ul {
   position: absolute;
   top: 0;
   left: 100vw;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 5em 0;
   background-color: #262E3D;
   transition: transform 1s;
}

nav ul li {
   display: block;
   position: relative;
   width: 100%;
   line-height: 12vh;
   font-size: 7vh;
   padding-left: 0.5em;
}

nav ul li:hover {
   cursor: pointer;
    background-color: #262E4F;
}

nav ul li:hover > a {
   color: #777;
}

nav > ul > li > a {
   cursor: pointer;
   outline: none;
   display:inline-block;
   width: 100%;
   text-decoration: none;
}

nav [type="checkbox"]:not(:checked) + label:before {
   content: '';
   display: block;
   width: 32px;
   height: 3px;
   background: #262E3D;
   margin: 10px 5px;
   box-shadow: 0px 10px 0px #262E3D, 0px 20px 0px #262E3D
}

nav [type="checkbox"]:checked + label:before, nav [type="checkbox"]:checked + label:after {
   content: '';
   position: absolute;
   width: 100%;
   top: 50%;
   left: 0;
   height: 8px;
   margin-top: -4px;
   background: white;
}

nav [type="checkbox"]:not(:checked) + label {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
}

nav [type="checkbox"]:checked + label:before {
   transform: rotate(45deg);
}

nav [type="checkbox"]:checked + label:after {
   transform: rotate(-45deg);
}

nav [type="checkbox"]:checked ~ ul {
   transform: translateX(-100vw);
}

nav [type="checkbox"]:checked ~ ul {
   pointer-events:auto;
}

nav [type="checkbox"]:not(:checked) ~ ul {
   pointer-events:none;
}

