nav {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   padding: 0;
   margin: 0;
}

nav input[type="checkbox"] {
   display: none;
}

nav label {
   display: block;
   right: 5vw;
   top: 1vh;
   width: 5vh;
   height: 5vh;
   cursor: pointer;
   position: fixed;
   z-index: 10;
   padding: 0;
}

/* Menu background */
nav ul:before {
   content: "";
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: -2;
   display: block;
   width: auto;
   background-image: url("//d1nq4hyj0msl77.cloudfront.net/background_new.jpg");
   background-size: cover;
   transform: scaleX(-1);
   filter: contrast(10%) brightness(180%);
   overflow: hidden;
}

nav ul {
   position: absolute;
   top: 0;
   left: 100vw;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 1em 0;
   transition: transform 1s;
   font-size: 7vh;
   visibility: hidden;
   overflow: hidden;
}

nav ul li {
   display: block;
   position: relative;
   width: 100%;
   line-height: 11vh;
   padding-left: 0.5em;
}

nav ul li:hover {
   cursor: pointer;
   background-color: white;
}

nav > ul > li > a {
   cursor: pointer;
   outline: none;
   display: inline-block;
   width: 100%;
   text-decoration: none;
}

/* Burger menu stripes */
nav [type="checkbox"]:not(:checked) + label:before {
   content: '';
   display: block;
   width: 4vh;
   height: 0.5vh;
   background-color: #262E3D;
   margin: 0.8vh 0.5vh;
   box-shadow: 0 1.5vh 0 #262E3D, 0 3vh 0 #262E3D;
}

/* Close box line * 2 for X */
nav [type="checkbox"]:checked + label:before, nav [type="checkbox"]:checked + label:after {
   content: '';
   position: absolute;
   width: 100%;
   top: 50%;
   left: 0;
   height: 0.5vh;
   margin-top: -0.25vh;
   background-color: rgb(200,200,200);
}

/* Burger background */
nav [type="checkbox"]:not(:checked) + label {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5vh;
}

nav [type="checkbox"]:checked + label:before {
   transform: rotate(45deg);
}

nav [type="checkbox"]:checked + label:after {
   transform: rotate(-45deg);
}

nav [type="checkbox"]:checked + label {
}

nav [type="checkbox"]:checked ~ ul {
   transform: translateX(-7.5em); /* Menu text width */
   visibility: visible;
}

nav [type="checkbox"]:checked ~ ul {
   display: block;
}

nav [type="checkbox"]:checked ~ ul {
   pointer-events:auto;
}

nav [type="checkbox"]:not(:checked) ~ ul {
   pointer-events:none;
}

