<div class="articles">
   {{ range .Data.Pages.ByDate.Reverse }}
   <article>
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ .Summary }}
      <a class="read-more" href="{{ .Permalink }}">Read More</a>
   </article>
   {{ end }}
</div>

<div class="tags">
   <a href="/blog" class="sectionlink">All Blogs</a>
   <h2>Tags</h2>
   <ul>
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
      {{ end }}
   </ul>
</div>
