<div class="content">
   <div class="row">
      <div class="col">
         <h1>Blog Posts</h1>
         {{ range sort .Data.Pages ".Params.order" }}
         <article class="p-2">
            <h2>{{ .Title }}</h2>
            {{ .Summary }}
            <div class="read-more"><a href="{{ .Permalink }}">Read More</a></div>
         </article>
         {{ end }}
      </div>
      <div class="col">
         <div class="float-right">
            <h2>Tags</h2>
            <ul id="all-tags">
               {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
               <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
               {{ end }}
            </ul>
         </div>

      </div>
   </div>

</div>
