
{{ $bg := cond (and (isset .Params "background") (not (eq .Params.background ""))) (print `background-image: url('` .Params.background `');`) "" }}
{{ $bgs := cond (and (isset .Params "bgsize") (not (eq .Params.bgsize ""))) (print `--bgsize: ` .Params.bgsize `;`) "" }}
{{ $col := cond (and (isset .Params "colour") (not (eq .Params.colour ""))) (print `--colour: ` .Params.colour `;`) "" }}
{{ $quoter := cond (and (isset .Params "quoter") (not (eq .Params.quoter ""))) (print `--quoter: url('` .Params.quoter `');`) "" }}

{{ $attrs := print `style="` $bg $bgs $col $quoter ` --position:` (default 0 .Params.position) `"` }}

<div id="{{ .Params.filename }}" class="content {{ .Params.style }}" {{ $attrs | safeHTMLAttr }}>
    <div class="content-wrapper">
        <div class="content-text">
            <div class="content-outer">
                <div class="content-inner">{{ .Content }}</div>
            </div>
        </div>
    </div>
</div>
