
{{ $bg := cond (isset .Params "background") (print `background-image: url('` .Params.background `');`) "" }}
{{ $col := cond (isset .Params "colour") (print `--colour: ` .Params.colour `;`) "" }}

{{ $attrs := print `style="` $bg $col ` --position:` (default 0 .Params.position) `"` }}

<div class="content {{ .Params.style }}" {{ $attrs | safeHTMLAttr }}>
    <div class="content-wrapper">
        <div class="content-text">
            <div class="content-outer">
                <div class="content-inner">{{ .Content }}</div>
            </div>
        </div>
    </div>
</div>
