{{ if eq (default "none" .Params.imagestylexxx) "none" }}
<div class="content {{ .Params.style }}">
    {{ .Content }}
</div>
{{ else }}
<div class="content content-box {{ .Params.style }}  content-image-{{ .Params.imagestyle }}">
    {{ if eq .Params.imagestyle "left" }}
        <div class="content-pic">
            <img class="circular" src="{{ .Params.image }}" />
        </div>
    {{ end }}
    <div class="content-text" style="grid-column-end: span 2">
        {{ .Content }}
    </div>
    {{ if eq .Params.imagestyle "right" }}
        <div class="content-pic">
            <img class="circular" src="{{ .Params.image }}" />
        </div>
    {{ end }}
</div>
{{ end }}
