<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" role="navigation">
    <div class="navbar-brand">{{ .Site.Title }}</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/#home">Home</a>
            <a class="nav-item nav-link" href="/#services">Services</a>
            <a class="nav-item nav-link" href="/#about">About</a>
            <a class="nav-item nav-link" href="/#contact">Contact</a>
        </div>
    </div>
</nav>

