<header>
   {{ if or (not (isset .Params "menu")) (.Params.menu) }}
   <nav role="navigation">
      <input type="checkbox" id="nav" /><label for="nav"></label>
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/#freesession">Free Session</a></li>
         <li><a href="/workwithme/">Work With Me</a></li>
         <li><a href="/aboutme/">About Me</a></li>
         <li><a href="/testimonials/">Testimonials</a></li>
         <li><a href="/blog/">Blog</a></li>
    </ul>
   </nav>
   {{ end }}
</header>
