{{ $bg := cond (and (isset . "background") (not (eq .background ""))) (print `background-image: url('` .background `');`) "" }}
{{ $bgs := cond (and (isset . "bgsize") (not (eq .bgsize ""))) (print `--bgsize: ` .bgsize `;`) "" }}
{{ $quoter := cond (and (isset . "quoter") (not (eq .quoter ""))) (print `--quoter: url('` .quoter `');`) "" }}

{{ $attrs := print `style="` $bg $bgs $quoter ` --position:` (default 0 .position) `"` }}

<div class="content {{ .style }} bg-{{ .colour}}" {{ $attrs | safeHTMLAttr }}>
   <div class="content-wrapper">
      <div class="content-text">
         <div class="content-outer">
            <div class="content-inner">
               {{ if .heading }}
               <div class="content-heading"><h2>{{ .heading }}</h2></div>
               {{ end }}
               <div class="content-body">{{ .body | markdownify }}</div>
            </div>
         </div>
      </div>
   </div>
</div>
