{{ define "main" }}
{{ with $.Site.Data.home }}

{{ $homeDir := .Site.GetPage "/home" }}
{{ $matching := $homeDir.Resources.Match "*" }}

<div class="content about" style="--background:url(/images/cover.jpg)">

    <div class="header">
        <h1>
            <span class="part1">Rachel Goth</span>
            <span class="part2"> Voice Confidence Coach</span>
        </h1>
    </div>

    <div class="middle"></div>

    <div class="text">
       {{ .intro.body | markdownify }}
    </div>

</div>

{{ partial "multi-section" . }}

{{ end }}
{{ end }}
