{{ define "main" }}

<section data-section-name="home" class="p-0 m-0 container-fluid">
   <a name="home"/>
    {{ partial "home/intro" . }}
</section>

<section data-section-name="services" class="p-0 m-0 container-fluid">
   <a name="services"/>
    {{ partial "home/services" . }}
</section>

<section data-section-name="about" class="p-0 m-0 container-fluid">
   <a name="about"/>
    {{ partial "home/about" . }}
</section>

<section data-section-name="contact" class="p-0 m-0 container-fluid">
   <a name="contact"/>
    {{ partial "home/contact" . }}
</section>
{{ end }}
