{{ define "main" }}

{{ $homeDir := .Site.GetPage "/home" }}
{{ $matching := $homeDir.Resources.Match "*" }}

<div class="content about">

    <div class="header">
        <h1>
            <span class="part1">Mindset Mastery for</span>
            <span class="part2"> Artists &amp; Makers</span>
        </h1>
    </div>

    <div class="middle"></div>

    <div class="text">
        {{ range where $matching "Params.filename" "intro" }}
            {{ .Content }}
        {{ end }}
    </div>

</div>

{{ range sort (where $matching "Params.filename" "!=" "intro") "Params.order" }}
{{ partial "contentbox" . }}
{{ end }}

{{ end }}
