<div class="aboutme">

<div class="text">
   Master your mind and beat the stress, anxiety or fear which has been holding you back.
   <p>
   Hi I’m Rachel, a hypnotherapist from South London in the UK. I work online helping people across the UK to overcome stress, anxiety and fear so they can live more of the life they want.
   <p>
   Often most of life is okay, it’s just one or two fears or anxieties holding us back. Anxieties and fears which perhaps you know aren’t warranted but knowing it doesn’t change the feeling in the pit of your stomach or stop you from panicking when you think about it. Those fears and anxieties can come to dominate you thoughts, keep you up at night and hold you back from doing what you want in life.
   <p>
   Sometimes you have no idea why you feel anxious or stressed. Other times you know exactly how it started but that knowledge hasn’t helped. You may have tried reasoning with yourself, facing your fear or chanting affirmation after affirmation to no avail.
   <p>
   I help people like you to evaporate those fears and anxieties in a comfortable and pleasant way using hypnosis. It’s a gentle, enjoyable process where we work together to use the part of your mind which holds the fear. In essence we help your mind to re-label the thing you felt anxious about as no longer threatening. So then you don’t feel anxious or fearful of it.
   <p>
   I work exclusively online so wherever you are I can help.

   <div class="sectionlink">
      <a href="/services/">My services</a>
      <a href="/aboutme/">About me</a>
   </div>

</div>

<div class="photobox">
   <img class="photo" src="/images/rachel.png"/>
</div>

</div>

