<div class="aboutbar">

   <div class="header">
      <h1>Mindset mastery for artists and makers</h1>
   </div>

   <div class="photobox">
      <img class="photo" src="//d1nq4hyj0msl77.cloudfront.net/rachel.png"/>
   </div>

</div>

<div class="text">

   <p>
      If you can answer yes to any of these you’re in the right place.

   </p>

</div>

{{ $problems := .Site.GetPage "/problem" }}
{{ $matching := $problems.Resources.Match "*" }}
<div id="problems">
   {{ range sort $matching ".Params.order" }}
   <div>
      {{ .Content }}
   </div>
   {{ end }}
</div>

