<div class="row m-0 p-0 pattern-background" align="center">
   <div class="col-lg-5 ml-auto portrait title-background solid-background p-4">
      <div class="title-medium title-white text-center">Rachel Goth, Hypnotherapist</div>
      <br/>
      <div class="title-small title-orange text-center">helping you to be the</div>
      <div class="title-large title-white text-center">youest you</div>
      <img class="my-3" width="50%" src="/uploads/hypnosislogo.svg">
      <div class="mt-3 title-small title-white text-center">for self esteem, confidence & anxiety free living</div>
   </div>
   <div class="col-lg-5 mr-auto portrait">
      <img class="img-fluid fitpic" src="/uploads/portrait.jpg">
   </div>
</div>
